project_id = "sthwxyofzgqkxiniwkrj"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbound_mail]
enabled = false

[storage]
enabled = true
port = 54324
file_size_limit = "50MiB"
image_transformation.enabled = true

[auth]
enabled = true
port = 54325

[functions.evaluate-answer]
verify_jwt = false